{% extends 'dummy.html' %}


{% block title %}
    <title>reset_password Page</title>

{% endblock %}

{% block body_block %}

    <h1>this is the reset or forgot password Form</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="username">username</label>
        <input type="text" name="username" id="username"><br><br>
        <label for="npw">new_Password</label>
        <input type="password" name="npw" id="npw"> <br><br>
        <label for="cpw">confirm_password</label>
        <input type="password" name="cpw" id="cpw"><br><br>

        <input type="submit" value="reset_Password">
    </form>

{% endblock %}